
.mainBox {
    display: flex;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    padding-left: 150px;
    padding-right: 150px;
    color: black;
    background-color: pink;
    border-radius: 50px;
}

.mainBox .center {
    width: 80%;
    height: 100%;
    background-color: #a9f1df;
}

.smallCate {
    margin-top: 30px;
    margin-left: 30px;
    margin-right: 20px;
    height: 46%;
    width: 20%;
    border: 1px solid black;
    border-radius: 10px;
    position: relative;
    float: left;
}

.smallCate .briefIntroduction {
    width: 100%;
    background-color: #3d494f;
    /*opacity: 70%;*/
    background-color: rgba(0, 0, 0, 0.3);
    height: 30%;
    border: 1px solid black;
    position: absolute;
    bottom: 0;
}

.smallCate .productID {
    width: 40%;
    background-color: #3d494f;
    background-color: rgba(0, 0, 0, 0.15);
    height: 10%;
    border: 1px solid black;
    border-radius: 5px;
    position: absolute;
    text-align: center;
    top: 0;
    left: 0;
    color: greenyellow;
    font-size: 17px;
}

.smallCate .briefIntroduction .info {
    text-align: center;
    font-size: 21px;
    height: 50%;
    color: white;
}

.left {
    width: 40%;
    height: 100%;
    background-color: #bbded6;
}

.left .left-top {
    height: 60%;
    width: 100%;
    /*background-color: #00aaff;*/
    /*border: 2px solid black;*/
    border-radius: 80px;
}

.left .left-top .picture {
    height: 90%;
    width: 50%;
    border: 2px solid black;
    border-radius: 80px;
    margin-top: 20px;
    margin-left: 26%;
    alignment: center;
    text-align: center;
    background-size: cover;
}

.left .left-bottom {
    height: 40%;
    width: 100%;
    /*background-color: greenyellow;*/
    border: 1px solid black;
    /*border-radius: 80px;*/
    position: relative;
}

.left .left-bottom .nameInfo {
    height: 20%;
    width: 40%;
    font-size: 30px;
    background-color: pink;
    border: 1px solid black;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
    top: 5%;
    position: absolute;
    left: 0;
    text-align: center;
}

.left .left-bottom .priceInfo {
    height: 20%;
    width: 40%;
    font-size: 30px;
    background-color: pink;
    border: 1px solid black;
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
    top: 15%;
    position: absolute;
    right: 0;
    /*text-align: center;*/
    text-align: center;

}

.left .left-bottom .description {
    height: 40%;
    width: 60%;
    font-size: 20px;
    background-color: pink;
    border: 1px solid black;
    border-radius: 20px;
    top: 50%;
    position: absolute;
    left: 20%;
    text-align: center;
}

.right {
    width: 60%;
    height: 100%;
    background-color: #7dd1ed;
}

.right .smallCateTable {
    width: 90%;
    height: 90%;
    margin-top: 40px;
    margin-right: 50px;
    margin-left: 50px;
}

.table {
    text-align: center;

}

.table p {
    display: inline-block;
    vertical-align: middle;
    color: black;
    height: 40px;
    text-align: center;
    line-height: 22px;
    border-right: 1px solid black;
    text-overflow: ellipsis;
    white-space: nowrap;
    /*overflow: hidden;*/
    box-sizing: border-box;
}

.box {
    /*margin-top: 10px;*/
    /*margin-right: 70px;*/
    margin-left: 100px;
    height: 150px;
    width: 500px;
    border: 1px solid black;
    border-radius: 20px;
    position: relative;
    background-color: black;
    color: white;
}

.box .boxLeft {
    text-align: center;
    margin-left: 15px;
    margin-top: 10px;
    /*padding-bottom: 10px;*/
    left: 0;
    font-size: 20px;
    width: 30%;
    height: 80%;
    border: 1px solid black;
    border-radius: 15px;
    float: left;
    background-color: #3d494f;
}

.box .boxMiddle {
    /*margin-left: 40%;*/
    text-align: center;
    height: 100%;
    width: 45%;
    font-size: 30px;
    border: 1px solid black;
    border-radius: 10px;
    float: left;
    background-color: #00aaff;
}

.box .boxMiddle .ID {
    /*margin-left: 40%;*/
    text-align: left;
    height: 30%;
    width: 45%;
    font-size: 30px;
    /*border: 1px solid black;*/
    /*border-radius: 10px;*/
    /*float: left;*/
}

.box .boxRight {
    margin-top: 10px;
    margin-left: 87%;
    height: 85%;
    width: 10%;
    font-size: 30px;
    border: 1px solid black;
    border-radius: 20px;
    background-color: #3d494f;
    position: relative;
}

.box .boxRight .add {
    margin-top: 1px;
    display: inline-block;
    width: 100%;
    height: 40px;
    line-height: 28px;
    text-align: center;
    font-size: 25px;
    color: white;
    cursor: pointer;
    /*border: 1px solid #e6e6e6;*/
}

.box .right .count {
    /*overflow: hidden;*/
    /*margin-top: 50%;*/
}

.box .boxRight .sub {
    bottom: -5px;
    display: inline-block;
    width: 100%;
    height: 40px;
    line-height: 10px;
    text-align: center;
    font-size: 25px;
    color: white;
    cursor: pointer;
    /*border: 1px solid #e6e6e6;*/
}
