.header {
    height: 13%;
    width: 100%;
    border: 1px solid black;
    /* background-color: aqua; */
    display: flex;
    margin: 0;
    /* background-color: #ffd8d8; */
}

.header .logo {
    margin-top: 2px;
    height: 90%;
    width: 25%;
    /* border:1px solid black; */
    display: flex;
}

.header .logo .logoImg {
    margin-left: 2px;
    margin-top: 2px;
    height: 90%;
    width: 30%;
    /* border:1px solid black; */
}

<<<<<<< HEAD
.allheader .logo .logoName {
=======
.header .logo .logoName {
>>>>>>> origin/master
    margin-left: 8px;
    margin-top: 2px;
    height: 90%;
    width: 65%;
    /* border:1px solid black; */

}


.header .cover .tb {
    display: table;
    width: 100%;
}

.header .cover .td {
    display: table-cell;
    vertical-align: middle;
}

input,
button {
    color: #fff;
    font-family: Nunito;
    padding: 0;
    margin: 0;
    border: 0;
    background-color: transparent;
}

.header .cover {
    /* position: absolute; */
    top: 50%;
    left: 0;
    right: 0;
    width: 600px;
    height: 65px;
    padding: 35px;
    padding-top: 5px;
    /* padding-left: 100px; */
    margin: -10px auto 0 80px;
    background-color: #ff7575;
<<<<<<< HEAD
    border: 1px solid black;
=======
>>>>>>> origin/master
    border-radius: 20px;
    /* box-shadow: 0 10px 40px #ff7c7c, 0 0 0 20px #ffffffeb; */
    transform: scale(0.6);
}

form {
    height: 56px;
}

input[type="text"] {
    width: 100%;
    height: 96px;
    font-size: 60px;
    line-height: 1;
}

input[type="text"]::placeholder {
    color: #e16868;
}

#s-cover {
    width: 1px;
    padding-left: 35px;
}

button {
    position: relative;
    display: block;
    width: 84px;
    height: 96px;
    cursor: pointer;
}

#s-circle {
    position: relative;
    top: -8px;
    left: 0;
    width: 43px;
    height: 43px;
    margin-top: 0;
    border-width: 15px;
    border: 15px solid #fff;
    background-color: transparent;
    border-radius: 50%;
    transition: 0.5s ease all;
}

button span {
    position: absolute;
    top: 68px;
    left: 43px;
    display: block;
    width: 45px;
    height: 15px;
    background-color: transparent;
    border-radius: 10px;
    transform: rotateZ(52deg);
    transition: 0.5s ease all;
}

button span:before,
button span:after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    width: 45px;
    height: 15px;
    background-color: #fff;
    border-radius: 10px;
    transform: rotateZ(0);
    transition: 0.5s ease all;
}

#s-cover:hover #s-circle {
    top: -1px;
    width: 67px;
    height: 15px;
    border-width: 0;
    background-color: #fff;
    border-radius: 20px;
}

#s-cover:hover span {
    top: 50%;
    left: 56px;
    width: 25px;
    margin-top: -9px;
    transform: rotateZ(0);
}

#s-cover:hover button span:before {
    bottom: 11px;
    transform: rotateZ(52deg);
}

#s-cover:hover button span:after {
    bottom: -11px;
    transform: rotateZ(-52deg);
}

#s-cover:hover button span:before,
#s-cover:hover button span:after {
    right: -6px;
    width: 40px;
    background-color: #fff;
}

.header .right {
    margin-top: 5px;
    border: 1px splid black;
    /* background-color: #e16868; */
    width: 30%;
    height: 50%;
    padding-top: 20px;
}

.header .right #Menu, #Menu a, #Menu a:link, #Menu a:visited, #Menu a:hover {
    color: #eaac00;
    text-decoration: none;
    font-family: helvetica, tahoma, arial, verdana, sans-serif;
}

body > #Menu {
    height: 9ex;
}

.header .logoName .gradient-text {
    /* Fallback: Set a background color. */
    background-color: #CA4246;

    /* Create the gradient. */
    background-image: linear-gradient(
            45deg,
            #CA4246 16.666%,
            #E16541 16.666%,
            #E16541 33.333%,
            #F18F43 33.333%,
            #F18F43 50%,
            #8B9862 50%,
            #8B9862 66.666%,
            #476098 66.666%,
            #476098 83.333%,
            #A7489B 83.333%);

    /* Set the background size and repeat properties. */
    background-size: 100%;
    background-repeat: repeat;

    /* Use the text as a mask for the background. */
    /* This will show the gradient as a text color rather than element bg. */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    /* Animate the text when loading the element. */
    /* This animates it on page load and when hovering out. */
    animation: rainbow-text-simple-animation-rev 0.75s ease forwards;

}

.gradient-text:hover {
    animation: rainbow-text-simple-animation 0.5s ease-in forwards;
}


/* Move the background and make it smaller. */
/* Animation shown when entering the page and after the hover animation. */
@keyframes rainbow-text-simple-animation-rev {
    0% {
        background-size: 650%;
    }
    40% {
        background-size: 650%;
    }
    100% {
        background-size: 100%;
    }
}

/* Move the background and make it larger. */
/* Animation shown when hovering over the text. */
@keyframes rainbow-text-simple-animation {
    0% {
        background-size: 100%;
    }
    80% {
        background-size: 650%;
    }
    100% {
        background-size: 650%;
    }
}


.header .logoName h1 {
    margin-top: 0;
    font-family: "Archivo Black", sans-serif;
    font-weight: normal;
    font-size: 50px;
    text-align: center;
    margin-bottom: 0;
    margin-bottom: -0.25em;
    display: block;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
    width: 100%;
}

